.container {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  max-width: 768px;
  padding: 12px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    max-width: 960px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.header {
  background-color: var(--secondary-color);
  width: 100%;
  padding: 16px 0;
  box-shadow: 0px 10px 8px 0px rgb(13, 13, 13);

  & .navList {
    max-width: 1280px;
    padding: 12px;
    display: flex;
    gap: 8px;
    list-style: none;

    @media screen and (min-width: 768px) {
      gap: 28px;
    }

    & > li {
      position: relative;
    }
  }

  & p {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
      font-size: 20px;
      line-height: 1.5;
    }
    @media screen and (min-width: 1280px) {
      font-size: 24px;
    }
  }
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: inherit;
  text-decoration: inherit;
  text-transform: capitalize;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.025em;
  text-wrap: nowrap;

  transition: color ease-in-out 250ms, opacity ease-in-out 250ms;

  & > svg {
    transition: transform ease-in-out 250ms;
    transform: rotate(0deg);
  }

  &:hover,
  &:focus {
    color: var(--primary-text-color);

    & > svg {
      transform: rotate(360deg);
    }
  }
  @media screen and (min-width: 480px) {
    gap: 12px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.025em;
  }

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 24px;
  }
}

.activeLink {
  @extend .link;
  color: var(--primary-text-color);
  &:hover,
  &:focus {
    color: var(--primary-text-color);
  }
}

.homeLink {
  @extend .link;
  & .homeLabel {
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
}

.badge {
  position: absolute;
  top: -12px;
  left: -16px;

  background: var(--primary-white-color);
  color: var(--primary-text-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  width: 24px;
  height: 24px;
  font-size: 16px;

  @media screen and (max-width: 480px) {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
}
