.label {
  position: relative;
  margin-bottom: 0.5rem; // Adjust if needed for your design
  display: flex;
  flex-direction: column;
  font-size: 0.875rem; // Text size for small screen sizes
  color: #6b7280; // Text color for slate-500

  // Media query for medium screen sizes
  @media (min-width: 768px) {
    font-size: 1rem; // Text size for base size on medium screens
  }

  & > span {
    margin-bottom: 0.5rem;
    font-weight: 300;
    letter-spacing: 0.025em;

    @media (min-width: 768px) {
      margin-bottom: 0.25rem;
    }
  }
}

.input {
  position: relative;
  margin-bottom: 1.25rem;
  border-radius: 10px;
  border: 1px solid rgb(149, 149, 149); // Adjust the hex value to match "greyBorder"
  background-color: lightgrey;
  padding: 1rem;
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  transition: all 0.3s ease-in-out;

  &:focus {
    outline: none;
    &-visible {
      border-color: #3182ce; // Adjust the hex value to match "primary"
    }
  }

  &.error {
    border-color: #ef4444; // Adjust the hex value to match "red-500"
  }
}

.alert {
  position: absolute;
  bottom: 0;
  right: 1rem; // "right-4" (1rem corresponds to 16px)
  height: 1rem; // "h-4" (1rem corresponds to 16px)
  text-align: right;
  color: #ef4444; // "text-red-500" (adjust the hex value if necessary)
}
